body{
    background-color: rgb(69, 25, 132);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    margin: 6px;
    border-radius: 4px;
    justify-content: space-between;
  }

  .row1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row2-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .self{
    background-color: #fff;
    border: 2px solid rgb(69, 25, 132);
    padding: 10px;
    width: 100%;
    margin-right: 5px;
  }
  
  .self img {
    width: 30%;
    height: auto;
  }

  .percentageFill{
    height:15px;
    background-color: lightgray;
    border-radius: 20px;
    padding-left: 2pc;
    font: 12px;
    text-align: right;
    color:rgb(208, 160, 221);
    position: relative;
    overflow: hidden;
  }

  .fill{
    height: 100%;
    width: 0;
    background-color: rgb(132,111,201);
    border-radius: 20px;
    position: absolute;
    top:0;
    left:0;
  }

  .text{
    color:black;
    position: relative;
    top:50%;
    transform: translate(-50%,-50%);
  }

  .projects{
    text-align: center;
    margin-bottom: 5px;
  }

  .projects-container{
    margin-bottom: 5px;
    margin-left: 5px;
    border: 1px solid rgb(132,111,201);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-top: 0;
  }

  .projects h2 {
    font-size: 24px;
    margin-left: 5px;
    text-align: center;
    padding: 2px;
  }
  
  .projects h3 {
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  
  .projects p {
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .left-container{
    flex: 1;
    width: 40%;
  }

  .right-container{
    flex: 1;
    width: 60%;
    background-color:white;
    padding-left: 5px;
    margin-top: 20px;
  }

  .education{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
  }

  .education-container{
    border: 1px solid rgb(132,111,201);
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    box-sizing: border-box;
    margin-top: -40px;
    padding: 10px;
    padding-top: 10px;
  }

  .education h5, h6{
    display: flex;
    align-items: baseline;
  }

  .bottom-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }

  .experience-container {
    margin-bottom: 20px;
    border: 1px solid rgb(132, 111, 201);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    padding: 10px;
  }