body {
    background-color: #145e85;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .self {
    float:left;
    background-color: #fff;
    border: 2px solid rgb(8, 118, 90);
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    margin-right: 10px;
  }
  
  .self img {
    width: 100%;
    height: auto;
  }
  
  .projects{
    float:right;
    width: 50%;
  }
  .projects h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .projects h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .projects p {
    font-size: 16px;
    margin-bottom: 10px;
  }