body{
    background-color: rgb(69, 25, 132);
    margin: 0;
    padding: 0;
    display: grid;
  }
  
  .container {
    width: 100%;
    grid-template-columns: 40% 60%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 6px;
    margin-right:6px;
    margin-bottom: 16px;
    border-radius: 4px;
    flex-basis: 45%;
  }
  
  .self{
    float:left;
    background-color: #fff;
    border: 2px solid rgb(69, 25, 132);
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    margin-right: 10px;
  }
  
  .self img {
    width: 30%;
    height: auto;
  }

  .projects{
    float: right;
    width: 50%;
  }

  .projects-container{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
  }

  .projects h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .projects h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .projects p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .percentageFill{
    height:30px;
    background-color: lightgrey;
    border-radius: 20px;
    padding-left: 2pc;
    font: 12px;
    text-align: right;
    color:rgb(208, 160, 221);
    position: relative;
    overflow: hidden;
  }

  .fill{
    height: 100%;
    width: 0;
    background-color: rgb(132,111,201);
    border-radius: 20px;
    position: absolute;
    top:0;
    left:0;
  }

  .text{
    color:black;
    position: relative;
    top:50%;
    transform: translate(-50%,-50%);
  }

  .padding{
    padding: 16px;
  }

  .left-container{
    padding: 15px;
  }

  .right-container{
    background-color: lightgray;
    padding:15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .education{
    text-align: center;
    margin-bottom: 20px;
  }

  .education-container{
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
  }