body{
    background-color: #145e85;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .left-container{
    width:40%;
    background-color: lightgray;
    padding: 15px;
  }

  .right-container{
    flex-grow: 1;
    background-color: lightgray;
    padding:15px;
  }
  
  .self {
    float:left;
    background-color: #fff;
    border: 2px solid rgb(8, 118, 90);
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    margin-right: 10px;
  }
  
  .self img {
    width: 30%;
    height: auto;
  }

  .projects{
    float:right;
    width: 50%;
  }
  .projects h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .projects h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .projects p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .percentageFill{
    height:30px;
    background-color: lightgrey;
    border-radius: 20px;
    font: 12px;
    color:rgb(208, 160, 221);
    position: relative;
    overflow: hidden;
  }

  .fill{
    height: 100%;
    width: 0;
    background-color: rgb(132,111,201);
    border-radius: 20px;
    position: absolute;
    top:0;
    left:0;
  }

  .text{
    color:black;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .padding{
    padding: 16px;
  }